<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftn.slagalica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_default_profile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_default_profile_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slagalica">
        <activity
            android:screenOrientation="portrait"
            android:name=".GameActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Slagalica.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Slagalica.NoActionBar">

            <!-- Moved from MainActivity - action MAIN & category LAUNCHER to SplashScreenActivity -->
            <!-- Moved android:exported="true" to SplashScreenActivity -->
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.login.RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register" />
    </application>

</manifest>